@use "mixins" as *;
//<БРЕЙК ПОИНТЫ>=================================
$pc: ems(1440); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: ems(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobileBig: ems(767.98); // Телефоны L
$mobile: ems(639.98); // Телефоны L
$mobileSmall: ems(479.98); // Телефоны S
//<БРЕЙК ПОИНТЫ>=================================
