// @forward "mixins";
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
//<АДАПТИВНАЯ СЕТКА>=================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1440; // Ширина полотна (макета)
$maxWidthContainer: 1240; // Ширина ограничивающего контейнера (0 = нет ограничения)

// Общий отступ у контейнера
$containerPadding: 40; // (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingMin: 20; // минимальный отступ

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
//<>=================================

//<ЦВЕТА>=================================
$white: #ffffff;
$blue: #4bbeee;
$green: #92b621;
$mainCol: #5e6282;
$mainTextCol: #4c4b47;
$lightGrayCol: #9a9ea6;
$lightBlueCol: #23a6f0;
$grayCol: #959595;
$darkCol: #171717;
$hoverCol: #4737ff;
$mainBgCol: #999999; //приглушить цвет для комфорта глаз

$primary-light: #edf2fb;
$primary-dark: #16425b;
$decor-color: #cdb4db;
$right-color: #2d6a4f;
$wrong-color: #a4161a;
$simple-white: #ffffff;

$decor-color-rgb: #cdb4db;
$primary-dark-rgb: #16425b;
$simple-black-rgb: #000000;

//<СВЕТЛАЯ ТЕМА>=================================
:root {
	--mainBgCol: $mainBgCol;
}
//<СВЕТЛАЯ ТЕМА>=================================

//<ТЁМНАЯ ТЕМА>=================================
[data-theme="dark"] {
	--mainBgCol: $mainBgCol;
}
//<ТЁМНАЯ ТЕМА>=================================

// </ШРИФТ>=================================
$fontFamily: "PlusJakartaSans";
$fontSize: 14; // где 14(px) - размер шрифта по умолчанию из макета

// </ШРИФТ>=================================
